<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.oil.dao.BannerDao">
    <select id="reportDays" resultType="map">

        select to_char(create_time, 'yyyy-mm-dd') day,count(1) num from p_user
        where create_time &gt;= #{begin} and create_time &lt; #{end}
        and removed = 0 and user_login_account not like '1400%'
        group by to_char(create_time, 'yyyy-mm-dd')
        order by day asc
    </select>
</mapper>
