/*

.form {
	padding-top: 5px;
	padding-bottom: 15px;
	background: #ecf0f5;
	border-radius: 10px;
}

.form .form-box {
	padding-left: 20px;
	text-align: right;
}

.form .form-box1 {
	padding-left: 20px;
	width: 23%;
}

.form .line {
	padding-top: 10px;
}

.form .query {
	margin-right: 38px;
}

.form .query-half {
	margin-right: 19px;
}


.popup {
	width: 900px;
	margin-left: 50px;
	margin-top: 200px;
	padding-bottom: 15px;
	border-radius: 10px;
	padding: 15px;
}

.popup .title {
	padding-bottom: 10px;
}

.popup .footer {
	padding-top: 10px;
	text-align: right;
}

.popup .pbtn {
	padding: 5px;
	margin: 10px;
	min-width: 100px;
}

.popup .pform {
	padding-top: 5px;
	padding-bottom: 15px;
	background: #EEEEE0;
}

.popup .pform .line {
	padding-top: 10px;
}

.popup .pform .form-box {
	padding-left: 20px;
	width: 30%;
	text-align: right;
}




.addform {
	padding-top: 5px;
	padding-bottom: 15px;
	background: #ecf0f5;
	border-radius: 10px;
}

.addform .form-box {
	padding-left: 20px;
	width: 55%;
	text-align: right;
}

.addform .line {
	padding-top: 10px;
}

.addform .click {
	margin-right: 38px;
}

.addform .input {
	width: 70%;
}

.addform .input-addr {
	width: 23%;
}

.addform .permission {
	padding-left: 30px;
	padding-top: 20px;
}


.text {
	
}

.text .lable {
    display: block;
    float: left;
    width: 30%;
    margin-top: 10%;
}

.text .textarea {
	float: left;
	width: 70%;
}


.picture {
	padding-right: 10px;
}

.picture .input {
	float: right;
	width: 70%;
}





*/
